/* Login.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.login-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 24px;
}

.login-form .form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  color: #4b5563;
}

.form-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

.form-input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.form-button {
  width: 100%;
  padding: 12px;
  background-color: #043969;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form-button:hover {
  background-color: #148dc2;
}

.login-footer {
  margin-top: 24px;
  text-align: center;
  font-size: 12px;
  color: #6b7280;
}
/* Password input wrapper */
.password-wrapper {
  position: relative;
}


.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #3b82f6;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

.toggle-password:hover {
  color: #2563eb;
}

.error-div {
    padding-bottom: 3px;
    color: red;
}

 .forgot-password
  {
    color: #2f79bd;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}